 
 .container {width:120px;height:200px;position:relative;border:3px solid green;}
 .inner {position:fixed;left:25%;top:40%;/*transform:translate(-50%,-50%);*/color:black;text-align:center;border:3px solid red}